html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}


.container{
    margin: 5px;
    background-color: white;
    height: 100vh;
    width: 100;
    border: 5px solid black;
    overflow: hidden;

}