
h3 {
    text-align: center;
}
.time-input{
    display:flex;
    text-align: center;
    justify-content: center;
}

.buttons{
    display:flex;
    text-align: center;
    justify-content: center;

}
.button{
    margin: 20px
}
.input {
    width: 100px; /* Adjust the width as needed */
    padding: 15px; /* Adjust the padding as needed */
    margin: 10px; /* Adjust the margin as needed */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.timer{
    opacity: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100vw;
    background-color: aqua;
    height: 50vh;
}

.time{
    font-size: 50vh;
    margin: 0px;
    border: 2px solid black;
    border-radius: 10px;
    height: 50vh;
    
}